<carousel>
  <slide>
    <img src="assets/images/hero1.jpg" alt="First slide" style="display: block; width: 100%">
  </slide>
  <slide>
    <img src="assets/images/hero2.jpg" alt="Second slide" style="display: block; width: 100%">
  </slide>
  <slide>
    <img src="assets/images/hero2.jpg" alt="Third slide" style="display: block; width: 100%">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the shop!</h1>
  </div>
</section>
