<!-- Template loads before we can get data from the API, so the page can produce an error in the console
"Cannot read property 'name' of undefined". To eliminate it, we can check if we have a product before
 attempting to display it -->

<div class="container mt-5">
  <div *ngIf="product" class="row">
    <div class="col-6">
      <img alt="{{product.name}}" class="img-fluid w-50" src="{{product.pictureUrl}}">
    </div>
    <div class="col-6">
      <h3>{{product.name}}</h3>
      <p style="font-size: 2em">{{product.price | currency}}</p>
      <div class="d-flex justify-content-start align-items-center">
        <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning me-2" style="cursor: pointer; font-size: 2em"></i>
        <span class="fw-bold" style="font-size: 1.5em">{{quantity}}</span>
        <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em"></i>
        <button (click)="addItemToBasket()" class="btn btn-outline-primary btn-lg ms-4">Add to cart</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 ml-3">
        <h4>Description</h4>
        <p>{{product.description}}</p>
      </div>
    </div>
  </div>
</div>
